.pay-container {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  float: right;
  gap: 1rem;

  .location {
    display: flex;
    align-items: center;
    gap: 4rem;
    margin-right: 2rem;
    justify-content: space-between;
  }

  .price {
  }

  .discount {
    .MuiButton-contained {
    }

    .discount-code {
      display: flex !important;
      align-content: center;
    }
  }

  .buy-button {
  }
}
