.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .image {
    width: 200px;
    object-fit: contain;
    margin: 40px 0;
  }

  .title {
    max-width: 800px;
    text-align: center;
  }

  .description {
    margin: 20px 0;
    max-width: 600px;
    text-align: center;
  }

  .capitalize {
    text-transform: capitalize;
  }

  .btn {
    margin-top: 20px;
  }
}
